{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>

    <h2>{{ _('Create a New Task') }}</h2>
    {{ wtf.quick_form(form) }}

    <h2>{{ _('Your Tasks') }}</h2>
    {% for task in tasks %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}
                  {% if task.completed %}
                  <span class="badge rounded-pill text-bg-success">{{_('Completed')}}</span>
                  {% else %}
                  <span class="badge rounded-pill text-bg-primary">{{_('Pending')}}</span>
                  {% endif %}
                </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                  {{ moment(task.due_date).format('LLL') }}</h6>
                <p class="card-text">{{ task.description }}</p>
                
                <a href="{{ url_for('main.edit_task', task_id=task.id) }}" class="btn btn-secondary">{{ _('Edit') }}</a>

                
                <form action="{{ url_for('main.complete_task', task_id=task.id) }}" method="post" style="display: inline;">
                    <input type="submit" value="{% if task.completed %}{{ _('Mark as Pending') }}{% else %}{{ _('Mark as Complete') }}{% endif %}"
                    class="btn btn-{% if task.completed %}warning{% else %}success{% endif %}">
                </form>
                
                <form action="{{ url_for('main.delete_task', task_id=task.id)}}" method="post" style="display: inline;">
                  <input type="submit" value="{{_('Delete')}}" class = "btn btn-danger">
                </form>
            </div>
        </div>
    {% endfor %}

    <nav aria-label="Task navigation">
      <ul class="pagination">
          <li class="page-item{% if not prev_url %} disabled{% endif %}">
              <a class="page-link" href="{{ prev_url or '#' }}">
                  <span aria-hidden="true">←</span> {{ _('Previous') }}
              </a>
          </li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
              <a class="page-link" href="{{ next_url or '#' }}">
                  {{ _('Next') }} <span aria-hidden="true">→</span>
              </a>
          </li>
      </ul>
    </nav>
{% endblock %}