{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
               
                {# Keine Posts, darum Tasks anzeigen: #}
                {% if tasks %}
                <h2>{{ _('Tasks')}}:</h2>
                    <ul>
                      {% for task in tasks %}
                      <li>
                        {{ task.title }} 
                        - {{ moment(task.due_date).format('LLL') }}
                        {% if task.completed %}- <span class="badge rounded-pill text-bg-success">{{ _('Completed') }}</span>{% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ _('No tasks yet.') }}</p>
                {% endif %}
            </td>
        </tr>
    </table>
     <nav aria-label="Task navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">←</span> {{ _('Previous') }}
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}">
                    {{ _('Next') }} <span aria-hidden="true">→</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}